/*!
    Starter by Merlin Mason
    License: The MIT License (MIT)
*/


//----------------------------------------------------------------------------//
//  Setup
//----------------------------------------------------------------------------//


@charset "UTF-8";
@import "reset.less";
@import "vars.less";
@import "helpers.less";
@import "fonts.less";
@import "grid.less";
@import "slider.less";

::-moz-selection {
    background:@color-highlight;
    color:#fff;
    text-shadow:none;
}
::selection {
    background:@color-highlight;
    color:#fff;
    text-shadow:none;
}

* { box-sizing:border-box; }
.row { .make-row(); }
.make-grid-columns();
.make-grid(xs);
@media (min-width: @screen-sm-min) { .make-grid(sm); }
//@media (min-width: @screen-md-min) { .make-grid(md); }
//@media (min-width: @screen-lg-min) { .make-grid(lg); }

body { background:#f0f0f0; }


//----------------------------------------------------------------------------//
//  Typography
//----------------------------------------------------------------------------//


body {
    font-family:@font-family-body;
    font-size:@font-size-base;
    line-height:@line-height-base;
    color:@color-text;
}

p { margin-bottom:@space; }

.heading {
    font-family:@font-family-heading;
    line-height:@line-height-base;
    font-weight:400;
    text-align:center;
    margin-bottom:@space;
}
.main-heading {
    &:extend(.heading);
    font-size:48px;
}
.sub-heading {
    &:extend(.heading);
    font-size:24px;
    text-transform:uppercase;
}
.meta-heading {
    &:extend(.heading);
    font-size:24px;
}
.smallprint {
    font-size:@font-size-mini;
}

//----------------------------------------------------------------------------//
//  Links
//----------------------------------------------------------------------------//


a:link,
a:visited {
    color:@color-link;
    text-decoration:none;
    transition:all 0.2s ease-in;
}
a:hover,
a:focus,
a:active {
    color:@color-link-hover;
    text-decoration:none;
    outline:none;
}


//----------------------------------------------------------------------------//
//  Forms & Buttons
//----------------------------------------------------------------------------//


input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    padding:(@space/2);
    border:none;
    .placeholder();
    &:hover {

    }
    &:focus {
        outline:none;
        // Define your own focus styles here
    }
}

.btn,
button,
input[type="submit"] {

    &:hover {

    }
    &:focus {

    }
}


//----------------------------------------------------------------------------//
//  Header
//----------------------------------------------------------------------------//


.page-header {
    margin:(@space*2) 0;
    .main-heading { margin:0; }
    .logo-wrap {
        width:300px;
        margin:@space auto;
        .force-hardware-acceleration();
    }
    .logo {
        height:106px;
        display:block;
    }
    @media (min-width: @screen-sm-min) { }
    @media (min-width: @screen-md-min) { }
    @media (min-width: @screen-lg-min) { }
}


//----------------------------------------------------------------------------//
//  Content
//----------------------------------------------------------------------------//

.section {
    padding:@space 0;
    p {
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
    }
    @media (min-width:@screen-md-min) {
        p { max-width:60%; }
    }
    @media (min-width:@screen-sm-min) {
        p { max-width:80%; }
    }
}

.case-study {
    padding:(@space*4) 0 (@space*3);
    .dates {
        display:block;
        font-size:18px;
        text-transform:uppercase;
    }
}

//----------------------------------------------------------------------------//
//  Slick Carousel
//----------------------------------------------------------------------------//


// Overwrite Slick resource location
.slick-loading .slick-list { background: white url(js/bower/slick-carousel/slick/ajax-loader.gif) center center no-repeat; }

// Allow space for pagination
.slick-slider { margin-bottom: 60px; }
// Pagination dots
.slick-dots li {
    .square(18px);
    line-height:18px;
    background:transparent;
    box-shadow:inset 0 0 0 2px #aaa;
    border-radius:50%;
    transition:all 0.2s ease-in;
    &:hover { box-shadow:inset 0 0 0 2px #666; }
    button {
        &::before,
        &::after { display:none; }
    }
    &.paginator {
        position:absolute;
        background:#666;
        box-shadow:none;
        transition:all 0.6s cubic-bezier(.72,.06,.35,.96);
        .touch & { transition:all 0.2s cubic-bezier(.72,.06,.35,.96); }
    }
}
.slick-slide img {
    max-width:100%;
    height:auto;
}
// Next/Prev buttons
.slick-next, .slick-prev {
    width:auto;
    height:auto;
    display:none!important;
    &::before {
        font-family:"merlin-portfolio";
        content:"\e807";
        color:#666;
        font-size:34px;
        transition:opacity 0.2s;
        opacity:0.6;
    }
    &:hover::before {
        opacity:0.8;
    }
    @media (min-width:@screen-sm-min) { display:block!important; }
}
.slick-prev { left:-30px; }
.slick-next {
    right:-30px;
    &::before {
        content:"\e808";
    }
}



//----------------------------------------------------------------------------//
//  Footer
//----------------------------------------------------------------------------//


.page-footer {
    text-align:center;
    .social {
        a {
            display:inline-block;
            margin:0 (@space/2) (@space*2);
            padding:@space;
            background:#ccc;
            color:#666;
            border-radius:50%;
            transition:all 0.2s ease-in;
            box-shadow:0 0 0 rgba(0,0,0,0), inset 0 0 0 rgba(0,0,0,0);
            &:hover {
                transform:translate(0, -3px);
                box-shadow:0 2px 2px rgba(0,0,0,0.3), inset 0 0 0 rgba(0,0,0,0);
            }
            &:active {
                transform:translate(0, 1px);
                box-shadow:0 0 0 rgba(0,0,0,0), inset 0 2px 2px rgba(0,0,0,0.3);
            }
            &.icon-twitter-1:hover {
                background:#55acee;
                color:#fff;
            }
            &.icon-linkedin:hover {
                background:#287bbc;
                color:#fff;
            }
            &.icon-github:hover {
                background:#111;
                color:#eee;
            }
        }
    }
    @media (min-width: @screen-sm-min) { }
    @media (min-width: @screen-md-min) { }
    @media (min-width: @screen-lg-min) { }
}
