/*!
    Starter by Merlin Mason
    License: The MIT License (MIT)
*/


//----------------------------------------------------------------------------//
//  Setup
//----------------------------------------------------------------------------//


@charset "UTF-8";
@import "reset.less";
@import "vars.less";
@import "helpers.less";
@import "grid.less";
@import (less) "/js/bower/slick-carousel/slick/slick.css";

::-moz-selection {
    background:@color-highlight;
    color:#fff;
    text-shadow:none;
}
::selection {
    background:@color-highlight;
    color:#fff;
    text-shadow:none;
}

* { box-sizing:border-box; }
.row { .make-row(); }
.make-grid-columns();
.make-grid(xs);
@media (min-width: @screen-sm-min) { .make-grid(sm); }
//@media (min-width: @screen-md-min) { .make-grid(md); }
//@media (min-width: @screen-lg-min) { .make-grid(lg); }

body { background:#f0f0f0; }


//----------------------------------------------------------------------------//
//  Typography
//----------------------------------------------------------------------------//


body {
    font-family:@font-family-body;
    font-size:@font-size-base;
    line-height:@line-height-base;
    color:@color-text;
}

p { margin-bottom:@space; }

.heading {
    font-family:@font-family-heading;
    line-height:@line-height-base;
    font-weight:400;
    text-align:center;
    margin-bottom:@space;
}
.main-heading {
    &:extend(.heading);
    font-size:48px;
}
.sub-heading {
    &:extend(.heading);
    font-size:24px;
    text-transform:uppercase;
}
.meta-heading {
    &:extend(.heading);
    font-size:24px;
}

//----------------------------------------------------------------------------//
//  Links
//----------------------------------------------------------------------------//


a:link,
a:visited {
    color:@color-link;
    text-decoration:none;
}
a:hover,
a:focus,
a:active {
    color:@color-link-hover;
    text-decoration:none;
    outline:none;
}


//----------------------------------------------------------------------------//
//  Forms & Buttons
//----------------------------------------------------------------------------//


input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    padding:(@space/2);
    border:none;
    .placeholder();
    &:hover {

    }
    &:focus {
        outline:none;
        // Define your own focus styles here
    }
}

.btn,
button,
input[type="submit"] {

    &:hover {

    }
    &:focus {

    }
}


//----------------------------------------------------------------------------//
//  Header
//----------------------------------------------------------------------------//


.page-header {
    margin:(@space*2) 0;
    .main-heading { margin:0; }
    .logo-wrap {
        width:300px;
        margin:@space auto;
    }
    .logo {
        height:106px;
        display:block;
    }
    @media (min-width: @screen-sm-min) { }
    @media (min-width: @screen-md-min) { }
    @media (min-width: @screen-lg-min) { }
}


//----------------------------------------------------------------------------//
//  Content
//----------------------------------------------------------------------------//

.section {
    padding:@space 0;
    p {
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
    }
    @media (min-width:@screen-md-min) {
        p { max-width:60%; }
    }
    @media (min-width:@screen-sm-min) {
        p { max-width:80%; }
    }
}

.case-study {
    padding:(@space*4) 0 (@space*3);
    +.case-study {
        border-top:1px solid @color-highlight;
    }
    .dates {
        display:block;
        font-size:18px;
        text-transform:uppercase;
    }
}

//----------------------------------------------------------------------------//
//  Slick Carousel
//----------------------------------------------------------------------------//


// Overwrite Slick resource locations
@font-face {
    font-family:"slick";
    src: url("js/bower/slick-carousel/slick/fonts/slick.eot");
    src: url("js/bower/slick-carousel/slick/fonts/slick.eot?#iefix") format("embedded-opentype"),
         url("js/bower/slick-carousel/slick/fonts/slick.woff") format("woff"),
         url("js/bower/slick-carousel/slick/fonts/slick.ttf") format("truetype"),
         url("js/bower/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
    font-weight:normal;
    font-style:normal;
}
.slick-loading .slick-list { background: white url(js/bower/slick-carousel/slick/ajax-loader.gif) center center no-repeat; }

// Allow space for pagination
.slick-slider { margin-bottom: 60px; }
// Pagination dots
.slick-dots li {
    button {
        &::before {
            font-size:18px;
            transition:opacity 0.2s;
        }
        &:hover::before { opacity:0.5; }
    }
    &.slick-active button:hover::before { opacity:0.75; }
}
.slick-slide img {
    max-width:100%;
    height:auto;
}
// Next/Prev buttons
.slick-next, .slick-prev {
    width:auto;
    height:auto;
    display:none!important;
    &::before {
        color:#666;
        font-size:25px;
        transition:opacity 0.2s;
        opacity:0.6;
    }
    &:hover::before {
        opacity:0.8;
    }
    @media (min-width:@screen-sm-min) { display:block!important; }
}
.slick-prev { left:-30px; }
.slick-next { right:-30px; }



//----------------------------------------------------------------------------//
//  Footer
//----------------------------------------------------------------------------//


.page-footer {
    @media (min-width: @screen-sm-min) { }
    @media (min-width: @screen-md-min) { }
    @media (min-width: @screen-lg-min) { }
}
